<a href="https://colab.research.google.com/github/ombhope/ma22c030_2023_pl/blob/main/Assignment%209/MA22C030PLA9(Pandas_from_dictionaries).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

5    x
4    y
6    z
dtype: object
    d3    d4
x  7.0   NaN
y  8.0   9.0
z  NaN  10.0
x    7.0
y    8.0
z    NaN
Name: d3, dtype: float64
x     NaN
y     9.0
z    10.0
Name: d4, dtype: float64
    d3   d4
x  7.0  NaN
y  8.0  9.0
d3    7.0
d4    NaN
Name: x, dtype: float64
7.0

In [2]:
# Create a new Series with different values and index
d_new = {5: 'x', 4: 'y', 6: 'z'}
pd_new = pd.Series(d_new)
print(pd_new)

5    x
4    y
6    z
dtype: object

In [3]:
# Sort the new Series by index
pd_new = pd_new.sort_index()

In [4]:
# Create two dictionaries for DataFrame creation
d3 = {'x': 7, 'y': 8}
d4 = {'y': 9, 'z': 10}
dd_new = pd.DataFrame({'d3': d3, 'd4': d4})
print(dd_new)

    d3    d4
x  7.0   NaN
y  8.0   9.0
z  NaN  10.0

In [5]:
# Access the 'd3' and 'd4' columns
column_d3 = dd_new['d3']
column_d4 = dd_new['d4']
print(column_d3)
print(column_d4)

x    7.0
y    8.0
z    NaN
Name: d3, dtype: float64
x     NaN
y     9.0
z    10.0
Name: d4, dtype: float64

In [6]:
# Slice the first two rows of the DataFrame
sliced_rows_new = dd_new.iloc[0:2]
print(sliced_rows_new)

    d3   d4
x  7.0  NaN
y  8.0  9.0

In [7]:
# Access the first row of the DataFrame
first_row_new = dd_new.iloc[0]

In [8]:
# Access the value in the first row and 'd3' column
value_new = dd_new.loc['x', 'd3']
print(first_row_new)
print(value_new)

d3    7.0
d4    NaN
Name: x, dtype: float64
7.0

In [9]:
# Access the row with index 'x' using loc
row_x = dd_new.loc['x']

In [10]:
# Access the value of 'y' in the 'd4' column
value_y_d4 = dd_new.loc['y', 'd4']

In [11]:
# Forward fill NaN values in the DataFrame
forward_filled_dd_new = dd_new.fillna(method='ffill')

In [12]:
# Backward fill NaN values in the DataFrame
back_filled_dd_new = dd_new.fillna(method='bfill')

In [13]:
# Forward fill along the columns (axis=0)
forward_filled_axis_0_new = dd_new.fillna(method='ffill', axis=0)

In [14]:
# Backward fill along the rows (axis=1)
back_filled_axis_1_new = dd_new.fillna(method='bfill', axis=1)