<a href="https://colab.research.google.com/github/ombhope/ma22c030_2023_pl/blob/main/Assignment%204/MA22C030PLA41.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from math import sin, cos

In [5]:
# Define a function to double the values
def double_values(val):
    return val * 2

In [6]:
# Initialize a list
my_list = [2, 5, 1]
print('Original list:', my_list)

Original list: [2, 5, 1]

In [9]:
# Double the values in the list
my_list = list(map(double_values, my_list))
print('Doubled list:', my_list)

Doubled list: [8, 20, 4]

In [10]:
# Convert the list to a NumPy array
my_array = np.array(my_list)
print('NumPy array:', my_array)

NumPy array: [ 8 20  4]